
<div *ngIf="user">
  <h2>{{user.name + ' '+user.surname}} details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div><label>name: <input [(ngModel)]="user.name" placeholder="name"> </label></div>
  <div><label>surname: <input [(ngModel)]="user.surname" placeholder="surname"> </label></div>
  <div><label>email address: <input [(ngModel)]="user.emailAddress" placeholder="emailAddress"> </label></div>
  <!--<div><span>assigned to groups: </span>{{selectedUser.userGroup}}</div>-->
  <button (click)="goBack()">return</button>
  <button (click)="save()">save</button>
</div>

