<h3>Some projects to get started with...</h3>
<div class="grid grid-pad">
  <a *ngFor="let project of projects" class="col-1-4"
    routerLink="/projects/{{project.id}}">
    <div class="module projects">
      <h4>{{[project.projectName]}}</h4>
    </div>
  </a>
</div>

