<div *ngIf="project">
  <h2>{{project.projectName}} details</h2>
  <div><span>id: </span>{{project.id}}</div>
  <div><label>name: <input [(ngModel)]="project.projectName" placeholder="projectName"> </label></div>
  <div><label>start date: <input [(ngModel)]="project.startDate" placeholder="startDate"> </label></div>
  <div><label>end date: <input [(ngModel)]="project.endDate" placeholder="endDate"> </label></div>
  <!--<div><span>assigned to groups: </span>{{selectedProject.projectGroup}}</div>-->
  <button (click)="goBack()">return</button>
  <button (click)="save()">save</button>
</div>
