<h1> {{ title }}</h1>
<nav>
  <!-- Links -->
  <a routerLink="/mainPage">Homepage</a>
<a routerLink="/users">Users</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/userGroups"> User Groups</a>
</nav>
<router-outlet></router-outlet>

