<h2> Projects Panel</h2>
<div>
  <input class="form-control" placeholder="Search" id="search" type="text" [(ngModel)]="searchText"/>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>

    <th scope="col" (click)="setOrder('projectName')">Name
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col">Details</th>
    <th scope="col">Actions</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects | orderBy: order:reverse:'case-insensitive' | filter:searchText">

    <td >{{project.projectName}}</td>
    <td><button type="button" class="btn btn-info" (click)="open(project,projectModal)">Details</button></td>
    <td><button type="button" class="btn btn-success" (click)="openSurvey(project,surveyModal)" >Activate Survey</button></td>
    <td><button type="button" class="btn btn-danger" (click)="delete(project)">Delete</button></td>
  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="openAdd(addModal)">Add new project</button>

<ng-template #projectModal>
  <div class="modal-header">
    <h4 class="modal-title">{{project.projectName}} Details</h4>
  </div>
  <div class="modal-body">
      <div><span>id: </span>{{project._id}}</div>
      <div><label>project names: <input [(ngModel)]="project.projectName" placeholder="projectName"> </label></div>
    <div><label>start date: <input [(ngModel)]="project.startDate "   placeholder="startDate" type="date"></label></div>
    <div><label>project names: <input [(ngModel)]="project.endDate" placeholder="endDate" type="date"> </label></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="projectModal" (click)="save()">Save Changes</button>
  </div>
</ng-template>

<ng-template #addModal>
  <div class="modal-header">
    <h4 class="modal-title">Add New project</h4>
  </div>
  <div class="modal-body">

    <form [formGroup] = "rForm" (ngSubmit)="addForm(rForm.value)">
      <div class = "form-container">


          <label> Name
            <div class="alert" *ngIf="!rForm.controls['projectName'].valid && rForm.controls['projectName'].touched">{{ titleAlert }}</div>
            <input type="text" formControlName="projectName"> </label>
          <label> Start Date
            <div class="alert" *ngIf="!rForm.controls['startDate'].valid && rForm.controls['startDate'].touched">{{ titleAlert }}</div>
            <input type="date" placeholder="start date" formControlName="startDate"> </label>
          <label> End Date
            <div class="alert" *ngIf="!rForm.controls['endDate'].valid && rForm.controls['endDate'].touched">{{ titleAlert }}</div>
            <input type="date" placeholder="endDate" formControlName="endDate"> </label>

        </div>
      <button class="btn btn-success" type="submit" data-dismiss="addModal" value="Add project"
              routerLink="/projects">Save</button>
    </form>
  </div>



</ng-template>

<ng-template #surveyModal>
  <div class="modal-header">
    <h4 class="modal-title">Assign User To Survey</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for="search">Select user to send poll to</label>
      <!--<select class="form-control" id="sendingPoll" [(ngModel)]="user">-->
        <!--<option *ngFor="let user of users" [value]="user">{{user.name + " "+user.surname}}</option>-->
      <!--</select>-->
      <select #selUser>
        <option *ngFor = "let user of users" [value]="user.name">{{project.users}}
        </option>
      </select>
    </div>






    <button type="button" class="btn btn-info" data-dismiss="projectModal" (click)="sendSurvey(user,project)">Send survey</button>

  </div>
  <div class="modal-footer">

  </div>
</ng-template>


