<div class="jumbotron">
  <h1 class="display-3">Hello, {{user.name + user.surname}}!</h1>
  <p class="lead">Please, let us know about your experience with the following project.</p>
  <hr class="my-4">
  <p>{{project.projectName}}</p>
  <p class="lead">
    <img id="good" src="http://www.clker.com/cliparts/0/b/c/1/120657385441132693Arnoud999_Right_or_wrong_2.svg.med.png" onclick="setGoodFeedback(survey)" >
    <img id = "ok" src="http://www.clker.com/cliparts/I/X/g/L/q/2/yellow-neutral-face-md.png" onclick="setNeutralFeedback(survey)">
    <img id="bad" src="http://cliparting.com/wp-content/uploads/2016/11/Happy-and-sad-face-clip-art-free-clipart-images-3.png" onclick="setBadFeedback(survey)">
  </p>
</div>
