<h2> User Groups Panel</h2>
<div>
  <input class="form-control" placeholder="Search" id="search" type="text" [(ngModel)]="searchText"/>
</div>
<table class="table">
<thead class="thead-dark">
<tr>
  <th scope="col" (click)="setOrder('groupName')">Name
  <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
  <th scope="col">Details</th>
  <th scope="col">Users In Group</th>
  <th scope="col">Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let userGroup of userGroups | orderBy: order:reverse:'case-insensitive' | filter:searchText">

  <td >{{userGroup.groupName}}</td>
  <td><button type="button" class="btn btn-info" (click)="open(userGroup,userGroupModal)">Details</button></td>
  <td><button type="button" class="btn btn-success" (click)="openUsers(usersInGroup,usersModal)">Users In Group</button></td>
  <td><button type="button" class="btn btn-danger" (click)="delete(userGroup)">Delete</button></td>
</tr>
</tbody>
</table>


<button type="button" class="btn btn-primary" (click)="openAdd(addModal)">Add new group</button>

<ng-template #userGroupModal>
  <div class="modal-header">
    <h4 class="modal-title">{{userGroup.groupName}} Details</h4>
  </div>
  <div class="modal-body">
    <div><span>id: </span>{{userGroup._id}}</div>
    <div><label>name: <input [(ngModel)]="userGroup.groupName" placeholder="name"> </label></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="userGroupModal" (click)="save()">Save Changes</button>
  </div>
</ng-template>

<ng-template #usersModal>
  <div class="modal-header">
    <h4 class="modal-title">User List</h4>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col" (click)="setOrder('firstName')">First Name
          <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
        <th scope="col" (click)="setOrder('surname')">Last Name
          <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersInGroup | orderBy: order:reverse:'case-insensitive' | filter:searchText">
        <td >{{user.name}}</td>
        <td >{{user.surname}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">

  </div>
</ng-template>

<ng-template #addModal>
  <div class="modal-header">
    <h4 class="modal-title">Add new group</h4>
  </div>
  <div class="modal-body">
    <form [formGroup] = "groupForm" (ngSubmit)="addForm(groupForm.value)">
      <div class = "form-container">
        <div class = "row columns">

          <label> Name
            <div class="alert" *ngIf="!groupForm.controls['groupName'].valid && groupForm.controls['groupName'].touched">{{ titleAlert }}</div>
            <input type="text" formControlName="groupName"> </label>
        </div>
      </div>
      <button class="btn btn-success" type="submit" data-dismiss="addModal" value="Add group"
              routerLink="/userGroups"></button>
    </form>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>



