<h2> Users Panel</h2>
<div>
  <input class="form-control" placeholder="Search" id="search" type="text" [(ngModel)]="searchText"/>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col" (click)="setOrder('firstName')">First Name
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col" (click)="setOrder('surname')">Last Name
    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
    <th scope="col">Details</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | orderBy: order:reverse:'case-insensitive' | filter:searchText">
    <td >{{user.name}}</td>
    <td >{{user.surname}}</td>
    <td><button type="button" class="btn btn-info" (click)="open(user,userModal)">Details</button></td>
    <td><button type="button" class="btn btn-danger" (click)="delete(user)">Delete</button></td>
  </tr>
  </tbody>
</table>


<button type="button" class="btn btn-primary" (click)="openAdd(addModal)">Add new user</button>

<ng-template #userModal>
  <div class="modal-header">
    <h4 class="modal-title">{{user.name +' '+user.surname}} Details</h4>
  </div>
  <div class="modal-body">
      <div><span>id: </span>{{user._id}}</div>
      <div><label>name: <input [(ngModel)]="user.name" placeholder="name"> </label></div>
      <div><label>surname: <input [(ngModel)]="user.surname" placeholder="surname"> </label></div>
      <div><label>email address: <input [(ngModel)]="user.emailAddress" placeholder="emailAddress"> </label></div>
	  <div><label>assigned polls: </label>{{user.assignedPoll}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="userModal" (click)="save(user)">Save Changes</button>
  </div>
</ng-template>

<ng-template #addModal>
  <div class="modal-header">
    <h4 class="modal-title">Add New User</h4>
  </div>
  <div class="modal-body">

    <div *ngIf="!name; else forminfo">
<form [formGroup] = "rForm" (ngsubmit)="addForm(rForm.value)">
    <div class = "form-container">
      <div class = "row columns">
        <h1> Add user</h1>
        <label> Name
          <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
          <input type="text" formControlName="name"> </label>
        <label> Surname
          <div class="alert" *ngIf="!rForm.controls['surname'].valid && rForm.controls['surname'].touched">{{ titleAlert }}</div>
          <input type="text" formControlName="surname"> </label>
        <label> Email Address
          <div class="alert" *ngIf="!rForm.controls['emailAddress'].valid && rForm.controls['emailAddress'].touched">{{ titleAlert }}</div>
          <input type="text" formControlName="emailAddress"> </label>

      </div>
    </div>
    <ng-template #forminfo>
      <div class = "form-container">
        <div class = "row columns">
          <h3>{{user.name}}</h3>
          <h3>{{user.surname}}</h3>
          <h3>{{user.emailAddress}}</h3>
        </div>
      </div>
    </ng-template>
  </form>
  </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-success" value="Submit Form" [disabled]="!rForm.valid">


  </div>

</ng-template>


